.topnavbar {
    .weather-li {
        padding: 13px;
        div {
            display: inline-block;
            width: 40px;
            color: #fff;
            font-size: 12px;
            line-height: 12px;
            text-align: right;
            padding-right: 5px;
            span {
                display: block;
            }
        }
        em {
            font-size: 20px;
        }
    }
}