<div class="bookmanage_view">
<div class="form_part nav_tabs_tool">
    <ul class="nav nav-tabs">
        <li class="active" ng-click='panel_index = "one"'><a href="javascript:void(0)">图书管理</a></li>
    </ul>
    <div class=" pre_set_part bg-white nav_tabs_detail show">
        <div for="name" class="pull-left des_text" style="line-height:35px">搜索条件</div>
        <div class="form-group col-lg-9 col-sm-9">
            <select class="form-control col-sm-4 col-lg-4 margin-right" ng-model="select_type">
                <option value="isbn">isbn</option>
                <option value="author">作者</option>
                <option value="category">中图分类号</option>
                <option value="other">其他</option>
            </select>
            <input type='text' class="form-control col-sm-6 col-lg-6 " ng-model="search_condition" placeholder="请输入编号或者姓名">
        </div>
        <a type="button" class="mb-sm btn btn-info margin_side" ng-click='search_driver()'>查询</a>
        <a type="button" class="mb-sm btn btn-success margin_side pull-right" ng-click='show_add_driver_modal()'>新增</a>
    </div>
</div>
<div class="panel panel-default " ng-class="book_list.length > 0 ?'active':'hidden'" style="margin-top: 15px;">
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table id="table-ext-1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th>出版社</th>
                    <th>价格</th>
                    <th>isbn</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="detail in book_list">
                    <td>{{detail.title}}</td>
                    <td>{{detail.author}}</td>
                    <td>{{detail.publisher}}</td>
                    <td>{{detail.price}}</td>
                    <td>{{detail.isbn13}}</td>
                    <td>
                        <button type="button" class="mb-sm btn btn-info btn-xs" ng-click='show_driver_edit_modal({{detail}})'>修改</button>
                        <button type="button" class="mb-sm btn btn-danger btn-xs" ng-click='delete_driver({{detail}})'>删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6" ng-hide="book_list_page.firstPage && book_list_page.lastPage">
                <nav class="pull-right">
                    <ul class="pagination pagination-sm m0">
                        <li ng-if="!book_list_page.firstPage">
                            <a href="#" aria-label="Previous" ng-click='search_driver(1)'>
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li ng-if="book_list_page.lastPage && book_list_page.now - 4 > 0"><a ng-click='search_driver(book_list_page.now - 4)'>{{book_list_page.now - 4 }}</a>
                        </li>
                        <li ng-if="!book_list_page.firstPage && book_list_page.now -3 > 0 && book_list_page.now + 2 > book_list_page.total"><a ng-click='search_driver(book_list_page.now - 3)'>{{book_list_page.now - 3 }}</a>
                        </li>
                        <li ng-if="!book_list_page.firstPage && book_list_page.now -2 > 0"><a ng-click='search_driver(book_list_page.now - 2)'>{{book_list_page.now - 2 }}</a>
                        </li>
                        <li ng-if="!book_list_page.firstPage"><a ng-click='search_driver(book_list_page.now - 1)'>{{book_list_page.now - 1 }}</a>
                        </li>
                        <li class="active"><a>{{book_list_page.now}}</a>
                        </li>
                        <li ng-if="!book_list_page.lastPage "><a ng-click='search_driver(book_list_page.now + 1)'>{{book_list_page.now + 1 }}</a>
                        </li>
                        <li ng-if="!book_list_page.lastPage && book_list_page.now + 2 <= book_list_page.total"><a ng-click='search_driver(book_list_page.now + 2)'>{{book_list_page.now + 2 }}</a>
                        </li>
                        <li ng-if="!book_list_page.lastPage && book_list_page.now + 3 <= book_list_page.total && book_list_page.now -3 <= 0"><a ng-click='search_driver(book_list_page.now + 3)'>{{book_list_page.now + 3 }}</a>
                        </li>
                        <li ng-if="book_list_page.firstPage && book_list_page.now + 4 <= book_list_page.total"><a ng-click='search_driver(book_list_page.now + 4)'>{{book_list_page.now + 4 }}</a>
                        </li>
                        <li ng-if="!book_list_page.lastPage ">
                            <a href="#" aria-label="Next" ng-click='search_driver(book_list_page.total)'>
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
               新增图书
            </h4>
            </div>
            <div class="modal-body">
                <div class="form-group padding-right-empty col-sm-4 col-lg-4">
                    <div class="des_text pull-left">ISBN</div>
                    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.isbn">
                </div>
                <div class="form-group padding-right-empty col-sm-4 col-lg-4">
                    <div class="des_text pull-left">条形码</div>
                    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.barCode">
                </div>
                <div class="form-group padding-right-empty col-sm-4 col-lg-4">
                    <div class="des_text pull-left">馆藏地址</div>
                    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.position">
                </div>
                <!-- <div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">正题名</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">副题名</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.isbn">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">外文题名</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">作者</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">出版社</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.isbn">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">出版地址</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">出版年月</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">页数</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.isbn">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">尺寸</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">主题词</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">摘要</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.isbn">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">分类号</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">正文语种</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">定价</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.isbn">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">丛编名</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">附件</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">CN刊号</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.isbn">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">出版周期</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">主办单位</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">馆藏类别</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_book.isbn">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">装订样式</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div>
<div class="form-group padding-right-empty col-sm-4 col-lg-4">
    <div class="des_text pull-left">翻译者</div>
    <input type="text" class="form-control col-sm-7 col-lg-7 ng-pristine ng-valid ng-touched" ng-model="add_driver_name">
</div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="add_book()">
                    确认添加
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<div class="modal fade" id="EditDriverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
               修改驾驶员信息
            </h4>
            </div>
            <div class="modal-body">
                <div class="form-group padding-right-empty">
                    <div class="des_text pull-left">驾驶员用户名</div>
                    <input type="text" class="form-control col-sm-6 col-lg-6 ng-pristine ng-valid ng-touched" placeholder="请输入员工用户名" ng-model="edit_driver_detail.username">
                </div>
                <div class="form-group padding-right-empty">
                    <div class="des_text pull-left">驾驶员名字</div>
                    <input type="text" class="form-control col-sm-6 col-lg-6 ng-pristine ng-valid ng-touched" placeholder="请输入员工名字" ng-model="edit_driver_detail.name">
                </div>
                <div class="form-group padding-right-empty">
                    <div class="des_text pull-left">驾驶员电话</div>
                    <input type="text" class="form-control col-sm-6 col-lg-6 ng-pristine ng-valid ng-touched" placeholder="请输入员工电话" ng-model="edit_driver_detail.tel">
                </div>
                <div class="form-group padding-right-empty">
                    <div for="name" class="des_text pull-left">驾驶员备注</div>
                    <textarea class="form-control col-sm-6 col-lg-6 ng-pristine ng-valid ng-touched" rows="3" placeholder="请输入员工备注" ng-model="edit_driver_detail.ps"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="edit_driver()">
                    确认修改
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
    </div>